---
import type { CollectionEntry } from "astro:content";

import H2 from "./H2.astro";
import FormattedDate from "./FormattedDate.astro";

type Props = CollectionEntry<"articles">["data"] & {
  class?: string;
  id: string;
};

const { pubDate, title, heroImage, class: className, id } = Astro.props;
---

<div class:list={["card", className]} transition:name={id}>
  <div class="description">
    <H2 class="title">{title}</H2>

    <FormattedDate date={pubDate} />
  </div>

  <img
    class="image"
    src={heroImage}
    width={196}
    height={160}
    alt={title}
    transition:name={`${id}__image`}
  />
</div>

<style>
  .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    padding: 32px;
    border-radius: 16px;
    background-color: var(--color_background-regular);
    box-shadow: var(--shadow_default);
    box-sizing: border-box;
    transition: transform 0.2s ease;
  }

  .card:hover {
    transform: scale(1.05);
  }

  .title {
    margin: 0;
    font-weight: bold;
    font-size: 24px;
    color: var(--color_text-white);
  }

  .description {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 16px;
  }

  .image {
    width: 196px;
    height: 160px;
    object-fit: contain;
    border-radius: 16px;
  }

  @media screen and (max-width: 500px) {
    .title {
      text-align: center;
    }

    .description {
      align-items: center;
    }

    .card {
      flex-direction: column;
    }

    .image {
      width: 100%;
      max-width: 300px;
      height: auto;
    }
  }
</style>
