---
import { getCollection } from "astro:content";

import { SITE_TITLE } from "../consts";
import ArticleCard from "@components/astro/ArticleCard.astro";
import VideoCard from "@components/astro/VideoCard.astro";
import BasePage from "@layouts/BasePage.astro";
import TelegramPost from "@components/astro/TelegramPost.astro";
import { GlobalSearchModal } from "@components/react/GlobalSearch";
import LinkButton from "@components/astro/LinkButton.astro";
import { Icon } from "@components/react";
import albumsIcon from "@components/icons/albums.svg";
import megaphoneIcon from "@components/icons/megaphone.svg";
import bookIcon from "@components/icons/book.svg";
import youtubeIcon from "@components/icons/youtube.svg";
import chatIcon from "@components/icons/chat.svg";
import HomePageSection from "@layouts/HomePageSection.astro";

const [articles, videos] = await Promise.all([
  getCollection("articles"),
  getCollection("videos"),
]);

const latestArticle = articles.sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)[0];

const latestVideo = videos.sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)[0];
---

<BasePage>
  <header>
    <h1 class="title" transition:name="siteTitle">
      {SITE_TITLE}
    </h1>

    <GlobalSearchModal client:load className="search" />
  </header>

  <main>
    <HomePageSection
      title="Статьи"
      titleIconUrl={bookIcon.src}
      titleHref="/hacknote-js/articles"
      class="section"
    >
      <ArticleCard
        {...latestArticle.data}
        id={latestArticle.id}
        class="card"
        url={`/hacknote-js/articles/${latestArticle.slug}`}
      />

      <LinkButton class="call-to-action" href="/hacknote-js/articles">
        <Icon url={albumsIcon.src} />
        Посмотреть все
      </LinkButton>
    </HomePageSection>

    <HomePageSection
      title="Видео"
      titleIconUrl={youtubeIcon.src}
      titleHref="/hacknote-js/videos"
      class="section"
    >
      <VideoCard
        {...latestVideo.data}
        id={latestVideo.id}
        class="card"
        url={`/hacknote-js/videos/${latestVideo.slug}`}
      />

      <LinkButton class="call-to-action" href="/hacknote-js/videos">
        <Icon url={albumsIcon.src} />
        Посмотреть все
      </LinkButton>
    </HomePageSection>

    <HomePageSection
      title="Telegram-канал"
      titleIconUrl={chatIcon.src}
      titleHref="https://t.me/hacknote_js"
      class="section"
    >
      <TelegramPost postId="5" class="card" />

      <LinkButton
        class="call-to-action"
        href="https://t.me/hacknote_js"
        kind="primary"
      >
        <Icon url={megaphoneIcon.src} color="currentColor" />
        Подписаться
      </LinkButton>
    </HomePageSection>
  </main>
</BasePage>

<style>
  main {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-top: 16px;
  }

  main,
  header {
    width: 100%;
    max-width: 800px;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  header .search {
    width: 100%;
  }

  .title {
    color: var(--color_accent-yellow);
    font: var(--font_h1);
    font-size: clamp(2.5rem, 10vw, 128px);
    text-align: center;
    margin: 0;
  }

  .section > .card {
    width: 100%;
  }
</style>
