---
import type { CollectionEntry } from "astro:content";

import H1 from "@components/astro/H1.astro";
import DefaultPage from "./DefaultPage.astro";
import FormattedDate from "@components/astro/FormattedDate.astro";

type Props = CollectionEntry<"articles">["data"] & { id: string };

const { title, description, pubDate, heroImage } = Astro.props;
---

<style>
  article {
    width: 100%;
    padding: 32px;
    box-sizing: border-box;
    background-color: var(--color_background-regular);
    border-radius: 16px;
    box-shadow: var(--shadow_default);
    overflow-x: hidden;
  }

  @media screen and (max-width: 375px) {
    article {
      margin: 0 -16px;
      width: calc(100% + 32px);
      border-radius: 0;
    }
  }

  figure {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 16px -32px;
    width: calc(100% + 64px);
    background-color: var(--color_background-light);
  }

  .date {
    margin: auto;
    margin-top: 16px;
  }
</style>

<DefaultPage
  title={title}
  description={description}
  image={heroImage}
  type="article"
>
  <article>
    <H1>{title}</H1>

    <FormattedDate class="date" date={pubDate} />

    <figure>
      <img src={heroImage} width="288" height="240" alt={title} />
    </figure>

    <slot />
  </article>
</DefaultPage>
