---
import type { CollectionEntry } from "astro:content";

import DefaultPage from "./DefaultPage.astro";

type Props = CollectionEntry<"articles">["data"];

const { title, description, pubDate, heroImage } = Astro.props;
---

<style>
  article {
    width: 100%;
    padding: 32px;
    box-sizing: border-box;
    background-color: var(--color_background-regular);
    border-radius: 16px;
    box-shadow: var(--shadow_default);
  }

  @media screen and (max-width: 375px) {
    article {
      margin: 0 -16px;
      width: calc(100% + 32px);
      border-radius: 0;
    }
  }

  h1 {
    display: block;
    text-align: center;
  }

  h1 {
    margin-top: 0;
  }

  figure {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 16px -32px;
    width: calc(100% + 64px);
    background-color: var(--color_background-light);
  }

  time {
    display: block;
    margin: auto;
    width: max-content;
    font-weight: regular;
    font-size: 16px;
    color: var(--color_text-white);
    padding: 0 8px;
    background-color: var(--color_background-light);
    border-radius: 8px;
  }
</style>

<DefaultPage
  title={title}
  description={description}
  image={heroImage}
  type="article"
>
  <article>
    <h1>{title}</h1>

    <time datetime={pubDate.toISOString()}>
      {
        pubDate.toLocaleDateString("ru-ru", {
          year: "numeric",
          month: "long",
          day: "numeric",
        })
      }
    </time>

    <figure>
      <img src={heroImage} width="288" height="240" alt={title} />
    </figure>

    <slot />
  </article>
</DefaultPage>
