---
import { SITE_TITLE } from "../consts";

import NavBar from "@components/astro/NavBar.astro";
import BasePage, { type Props as BasePageProps } from "./BasePage.astro";

type Props = BasePageProps;

const { title, description, image, type } = Astro.props;
---

<style>
  main,
  header {
    width: 100%;
    max-width: 800px;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .title {
    text-decoration: none;
    color: var(--color_accent-yellow);
    font: var(--font_h1);
    text-align: center;
  }

  .nav-bar {
    width: 100%;
  }
</style>

<BasePage title={title} description={description} image={image} type={type}>
  <header>
    <a class="title" href="/hacknote-js/" transition:name="siteTitle">
      {SITE_TITLE}
    </a>

    <NavBar class="nav-bar" />
  </header>

  <main>
    <slot />
  </main>
</BasePage>
