---
import H1 from "@components/astro/H1.astro";
import FormattedDate from "@components/astro/FormattedDate.astro";
import FormattedDuration from "@components/astro/FormattedDuration.astro";
import TelegramComments from "@components/astro/TelegramComments.astro";
import ContentPage from "./ContentPage.astro";

interface Props {
  id: string;
  title: string;
  pubDate: Date;
  duration: string | number;
  heroImage: string;
  description: string;
  telegramPostId?: string;
}

const { title, description, pubDate, id, duration, heroImage, telegramPostId } =
  Astro.props;
---

<style>
  article {
    width: 100%;
    padding: 32px;
    box-sizing: border-box;
    background-color: var(--color_background-regular);
    border-radius: 16px;
    box-shadow: var(--shadow_default);
    overflow-x: hidden;
  }

  @media screen and (max-width: 375px) {
    article {
      margin: 0 -16px;
      width: calc(100% + 32px);
      border-radius: 0;
    }
  }

  .tags {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
  }

  .video {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 16px;
    margin-top: 32px;
  }
</style>

<ContentPage
  title={title}
  description={description}
  image={heroImage}
  type="article"
>
  <article transition:name={id} data-pagefind-body>
    <H1 transition:name={`${id}__title`}>{title}</H1>

    <div class="tags">
      <FormattedDate date={pubDate} />

      <FormattedDuration duration={duration} />
    </div>

    <slot />

    {telegramPostId && <TelegramComments postId={telegramPostId} />}
  </article>
</ContentPage>
